<!DOCTYPE html>
<html ng-app="demo">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" src="../angular.js"></script>
	<script type="text/javascript">
		angular.module('demo',[])
			.controller('main',['$scope',function($scope){
				$scope.list = [
				{name : "A",age:1,job:"A"},
				{name : "B",age:2,job:"B"},
				{name : "C",age:3,job:"C"},
				{name : "D",age:4,job:"D"}
				];
				
				$scope.addObj = function(name,age,job){
					
					$scope.list.push(
						{name:name, age:age, job:job}
					);
					
				};
				
				$scope.deleteObj = function(index){
					$scope.list.splice(index);
				};
				
			}]);
	</script>
</head>
<body>
	<div ng-controller='main'>
		<ul>
			<li ng-repeat="user in list">
				<p>{{user.name}}|{{user.age}}|{{user.job}}<input type="button" value="삭제" ng-click="deleteObj($index)">
			</li>
		</ul>
		이름 :<input type="text" ng-model="name"><br>
		직업 :<input type="text" ng-model="job"><br>
		나이 :<input type="text" ng-model="age"><br>
		<input type="button" value="추가" ng-click="addObj(name,age,job)"><br>
		총개수{{list.length}}
	</div>
	
</body>
</html>