<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" src="../angular.js"></script>
	<style type="text/css">
		.ng-scope{
			border: 1px solid red;
			padding: 5px;
		}
		
		.msg-list-area{
			margin: 10px;
			height: 400px;
			border: 1px solid black;
		}
	</style>
	<script type="text/javascript">
		angular.module("myapp",[])
			.controller("main",function($scope){
				$scope.broadcast = function(noticeMsg){
					$scope.$broadcast("chat:noticeMsg",noticeMsg); //현재 scope 이벤트발생
					$scope.noticeMsg = "";
				}
			})
			.controller("chatMsgList",function($scope,$rootScope){
				$scope.msgList = [];
				
				$rootScope.$on("chat:newMsg",function(e, newMsg){ //rootScope -> main
					$scope.msgList.push(newMsg);
				});
				
				$scope.$on("chat:noticeMsg",function(e, noticeMsg){
					$scope.msgList.push("[공지] "+noticeMsg);
				});
				
			})
			.controller("chatMsgInput",function($scope){
				$scope.submit = function(newMsg){
					$scope.$emit("chat:newMsg",newMsg); //부모scope(main) 이벤트 실행
					$scope.newMsg="";
				}
			});
	</script>
</head>
<body ng-controller="main">
	<input type="text" ng-model="noticeMsg">
	<input type="button" value="공지 전송" ng-click="broadcast(noticeMsg)">
	<div class="msg-list-area" ng-controller="chatMsgList">
		<ul>
			<li ng-repeat="msg in msgList track by $index">{{msg}}</li>
		</ul>
	</div>
	<div ng-controller="chatMsgInput">
		<input type="text" ng-model="newMsg">
		<input type="button" value="전송" ng-click="submit(newMsg)">
	</div>
</body>
</html>