<!DOCTYPE html>
<html ng-app="myapp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>TODO APP DEMO</title>
	<script type="text/javascript" src="../angular.js"></script>
	<link rel="stylesheet" href="../../bootstrap/css/bootstrap.css">
	<script type="text/javascript">
	
				var todoList = [
							{done : true, title : "AngularJS 독서"},
							{done : false, title : "AngularJS 공부하기"},
							{done : false, title : "개인 프로젝트 구성"}
						];
	
		angular.module("myapp",[])
			.controller("todoCtrl",function($scope){
				$scope.appName = "AngularJS TODO APP";
				$scope.todoList = todoList;
				
				$scope.addNewTodo = function(newTitle){
					todoList.push({done : false , title : newTitle});
					$scope.newTitle = '';
				}
				
				$scope.archive = function(){
					for(var i = $scope.todoList.length - 1 ; i >=0 ; i--){
						if($scope.todoList[i].done){
							$scope.todoList.splice(i,1)
						}
					}
				}
				
				$scope.remain = function(){
					var remainCount = 0;
					
					angular.forEach($scope.todoList,function(value,key){
						if(value.done === false){
							remainCount++;
						}
					});
					
					return remainCount;
				}
			});
	</script>
</head>
<body class="well" ng-controller = "todoCtrl">
	<h1>{{appName}}</h1>
	<p>
		전체 할 일 <strong>{{todoList.length}}</strong>개 / 남은 할일은 <strong>{{remain()}}</strong>개
		[<a href="" ng-click="archive()">보관하기</a>]
	</p>
	{{todoList}}
	<ul class="list-unstyled">
		<li ng-repeat="todo in todoList" class="checkbox" >
			<input type="checkbox" ng-model="todo.done">{{todo.title}}
		</li>
	</ul>
	
	<form action="" name = "newItemForm" class="form-inline">
		<div class="form-group">
			<label class="sr-only" for="newItemText">
				새로운 할 일
			</label>
			<input type="text" class="form-control" name="newItemText" placeholder="새로운 할 일" ng-model="newTitle">
		</div>
		<button class="btn btn-default" ng-click="addNewTodo(newTitle)">
			추가
		</button>
	</form>
</body>
</html>