<!DOCTYPE html>
<html ng-app="sampleApp">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<script type="text/javascript" src="../../angular.js"></script>
	<script type="text/javascript">
		angular.module("sampleApp",[])
			.controller("parent",function($scope){
				$scope.name = "ctrl 에서 사용된 name 모델";
				
				$scope.helloList = [{name:"google"},{name:"naver"},{name:"angular"}];
				
				$scope.sendMessage = function(toSb){
					console.log(toSb + "에게 메시지를 보낸다.");
				}
			})
			.directive("hello",function(){
				return{
					templateUrl : "template/helloTmpl.html",
					restrict : "AE",
					scope : true,
					controller: function($scope, $element, $attrs, $transclude){
						if($attrs.name){
							$scope.name = $attrs.name;
						}
					}
				};
			})
			//독립된 scope를 사용하므로 부모 scope의 name속성을 상속받지 않는다
			.directive("hi",function(){
				return{
					templateUrl : "template/helloTmpl.html",
					restrict : "AE",
					scope : {name : "@to"},
					controller : function($scope){
						console.log("test");
					}
				}
			})
			//부모 scope의 환경에서 실행될 수 있는 표현식에 대한 레퍼런스를 가지고 올수 있다.
			.directive("hi2",function(){
				return{
					templateUrl : "template/helloTmpl2.html",
					restrict : "AE",
					scope : {
						name : "@to",
						send : "&"
					},
					controller : function($scope){
						console.log("test");
					}
				}
			})
			//부모 scope의 특정 속성과 지시자 내부 scope의 속성관 양방향 데이터 바인딩 한다.
			.directive("hi3",function(){
				return{
					templateUrl : "template/helloTmpl3.html",
					restrict : "AE",
					scope : {
						name : "=to",
					}
				}
			});
	</script>
</head>
<body ng-controller="parent">
	<div hello name="google"></div>
	<div hello name="naver"></div>
	<div hello></div>
	<br>
	
	<div hi to="google"></div>
	<div hi to="naver"></div>
	<div hi></div>
	
	<br>
	<div ng-repeat = "helloSb in helloList" hi2 to="{{helloSb.name}}" send="sendMessage(helloSb.name)"></div>
	
	<br>
	<ul>
		<li ng-repeat="helloSb in helloList"> 
			<input type="text" ng-model="helloSb.name">
		</li>
	</ul>
	
	<div ng-repeat = "helloSb in helloList" hi3 to ="helloSb.name">
	
	</div>
</body>
</html>