<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security-3.2.xsd">

		<http auto-config="true" >


			<form-login login-page="/main/login/login"
				username-parameter="id" 
				password-parameter="pw"		
				authentication-details-source-ref="customWebAuthenticationDetailsSource"
				login-processing-url		=""
				default-target-url			=""
				authentication-failure-url	="/"
				authentication-success-handler-ref = "successHandler" 
				authentication-failure-handler-ref = "failHandler" 
				always-use-default-target='true' 
				/>

			<logout logout-url="" logout-success-url="" invalidate-session="true" />
			
					
			
			<access-denied-handler error-page=""/> 
			<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="filterSecurityInterceptor"/>
		    
				
		</http>
		
		<authentication-manager>
			<authentication-provider ref="loginProvider"/>
        </authentication-manager>		
		 
		
		<beans:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		 	<beans:property name="authenticationManager" ref="org.springframework.security.authenticationManager" />
		 	<beans:property name="accessDecisionManager" ref="accessDecisionManager" />
		 	<beans:property name="securityMetadataSource" ref="reloadableFilterInvocationSecurityMetadataSource" />
		</beans:bean>
		
	    <beans:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
	        <beans:property name="decisionVoters">
	            <beans:list>
	                <beans:bean class="org.springframework.security.access.vote.RoleVoter">
	                    <beans:property name="rolePrefix" value="ROLE_"/>
	                </beans:bean>
	                <beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"/>
	            </beans:list>
	        </beans:property>
	    </beans:bean>
	    
	    <beans:bean id="secureObjectDao" class="">
		 	<beans:property name="dataSource" ref="" />
		 	<beans:property name="sqlRolesAndResources" value="" />
		</beans:bean>
		
   	    <beans:bean id="secureObjectService" class="">
		 	<beans:property name="secureObjectDao" ref="secureObjectDao" />
		</beans:bean>
		
   	    <beans:bean id="requestMap" class="" init-method="init">
		 	<beans:property name="secureObjectService" ref="secureObjectService" />
		</beans:bean>
			
   	    <beans:bean id="reloadableFilterInvocationSecurityMetadataSource" class="" >
   	    	<beans:constructor-arg ref="requestMap" />
		 	<beans:property name="secureObjectService" ref="secureObjectService" />
		</beans:bean>				
	    
    		
        
	 	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
		
	 	<beans:bean id="successHandler" class="">
			<beans:property name="targetUrlParameter" value="loginRedirect" />
			<beans:property name="useReferer" value="false" />
			<beans:property name="defaultUrl" value="" />
	 	</beans:bean>
		
	 	<beans:bean id="failHandler" class="">
	 		<beans:property name="defaultFailureUrl" value="" />
	 	</beans:bean>
	 	

        
        <beans:bean id="loginProvider"  class="" />
        <beans:bean id="customWebAuthenticationDetailsSource"  class="" />
    
</beans:beans>
