/*******************************************************************************************************************
***ReactCSSTransitionGroup *****************************************************************************************
********************************************************************************************************************/

.enter{
  max-height: 0;
  overflow: hidden;
}

.enter.enterActive{
  max-height: 300px;
  overflow: hidden;
  transition: max-height .25s ease-in;
}

.leave{
  max-height: 300px;
  overflow: hidden;
}

.leave.leaveActive{
  max-height: 0;
  overflow: hidden;
  transition: max-height .25s ease-out;
}
