
		<form action="/users/save" method="post">
			<label for="name">ID</label>
			<input type="text" id="id" name="id">
			<label for="name">NAME</label>
			<input type="text" id="name" name="name">
			<label for="pass">GENDER</label>
			<input type="text" id="gender" name="gender">
			<label for="pass">PASS</label>
			<input type="password" id="pass" name="pass">
			<input type="submit" value="login">
		</form>
